<div class="row">

	<div class="col s12">
   <h3 class="center-align">SIGN UP HERE!</h3>
   
   </div>



<div class="container">
  <div class="row center">
	<div class="col s12 m12 l12">
      <div class="card-panel">
      	
         <div class="row">

   <%= form_for(@student, html: {class: "col s12"}) do |f| %>

    <div class="row">
    	<div class="input-field col s12">

    <%= f.text_field :name, placeholder: "Enter you full name", autofocus: true %>
    <%= f.label :name %>

	   </div>
	</div>
   
       <div class="row">
    	<div class="input-field col s12">


   <%= f.email_field :email, placeholder: "Enter you email address"  %>
   <%= f.label :email %>

	  </div>
	</div>
	   


   <%= f.submit "SUBMIT HERE"  %>

   <% end %>

</div>

</div>

</div>

</div>

</div>


