<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">CODING UNIVERSITY</h5>
            <p class="grey-text text-lighten-4">The future of Software Development Training Institute.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">INFORMATON</h5>
            <ul>
              <li>
               <%= link_to "HELP", courses_new_path, class: "grey-text text-lighten-3" %>
                 
               </li>
              <li>
                 <%= link_to "ABOUT US", about_path, class: "grey-text text-lighten-3" %>
              </li>
              <li>
                   <%= link_to "CONTACT US", courses_new_path, class: "grey-text text-lighten-3" %>
              </li>
              <li> <%= link_to "OUR UNIVERSITY", root_path,class: "grey-text text-lighten-3" %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 CODING UNIVERSITY
           <%= link_to "ABOUT US", about_path, class: "grey-text text-lighten-3" %>
        </div>
      </div>
    </footer>