<!DOCTYPE html>
<html>
  <head>
    <title>Coding Univesity TECH APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
     <nav>

       <div class="container">

        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">CODING UNIVERSITY</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">COURSES</a></li>
            <li><a href="#">ENROLLMENTS</a></li>
            <li><a href="#">ACCOUNT</a></li>
          </ul>
        </div>
      </div>
  </nav>

</header>


          <main>
          <div class="container">
                <!-- Page Content goes here -->
                 <%= yield %>

              </div>

          </main>



   <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">CODING UNIVERSITY</h5>
            <p class="grey-text text-lighten-4">The future of Software Development Training Institute.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">INFORMATON</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">HELP</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">ABOUT</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">CONTACT US</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">OUR UNIVERSITY</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 CODING UNIVERSITY
        <a class="grey-text text-lighten-4 right" href="#!">ABOUT US</a>
        </div>
      </div>
    </footer>




   


  
  </body>
</html>
