<!DOCTYPE html>
<html>
  <head>
    <title>Coding Univesity TECH APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
   <%= render 'layouts/navigation' %>

          <main>
          <div class="container">
                <!-- Page Content goes here -->
                 <%= yield %>

              </div>
        </main>


   <%= render 'layouts/footer' %>


  </body>
</html>
